In [2]:
import pandas as pd

In [ ]:
ratings = pd.read_csv('../data/raw/book_ratings.dat', delimiter='\s+')
users = pd.read_csv('../data/raw/users_info.dat', delimiter='\t+')
items = pd.read_csv('../data/raw/items_info.dat', sep='\t+', on_bad_lines='skip')

In [4]:
# Drop location from users dataset
users.drop(columns='Location',axis=1, inplace= True)

In [5]:
# Drop columns in book dataset
books = items[['Book_ID', 'Book-Title', 'Book-Author']]

In [ ]:
# Merge rating and books
df1 = pd.merge(ratings, items, left_on='item', right_on='Book_ID')
df1.head(2)

In [ ]:
# Merge df1 and users
df = pd.merge(df1, users, left_on='user', right_on='User-ID')
df.head(2)

In [8]:
df.drop(['item', 'Book_ID', 'Year-Of-Publication', 'ISBN', 'Publisher', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L', 'User-ID'], axis=1, inplace=True)

In [ ]:
# Check the percentage of unique values in each feature

for col in df.columns:
    print(f"{col:} has {df[col].nunique():,} values")

In [ ]:
df.dropna(inplace=True)
df.isna().sum()

In [ ]:
# Remove age outliers
df = df[~df['Age'].between(100, 300)]
df.head()

In [12]:
# Convert categorical & numerical features to string & integer respectively

for col in df.columns:
    if col not in ['rating','Age']:
        df[col] = df[col].astype(str)
    else:
        df[col] = df[col].astype(int)

In [ ]:
df.dtypes

In [14]:
df.to_csv('/home/ubuntu/recommender_system/data/processed/clean_data.csv', index=False)

In [15]:
df

,user,rating,Book-Title,Book-Author,Age
0,1,7,Something Wicked This Way Comes,Ray Bradbury,24
1,1,7,The Mists of Avalon,MARION ZIMMER BRADLEY,24
2,1,5,Sacred Sins,Nora Roberts,24
3,1,9,What a Wonderful World: A Lifetime of Recordings,Bob Thiele,24
4,1,6,A Coral Kiss,Jayne Ann Krentz,24
...,...,...,...,...,...
59460,2945,8,Arcadia,Jim Crace,34
59461,2945,6,Other Worlds,Barbara Michaels,34
59462,2945,9,MR CLEMENS TWAIN P (Touchstone Books (Paperback)),Justin Kaplan,34
59463,2945,7,Mistress of the Empire,Raymond E. Feist,34
59464,2945,8,French Twist,Roxanne St. Claire,34